/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-left: 50px;
  padding-right: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  padding-left: 50px;
  padding-right: 25px;
}

.container {
  width: 100%;
}

.fullsize {
  padding-left: 0;
  padding-right: 0;
}


/* MAP PAGE
-------------------------------------------------- */
/* all stylings for map page */

/* styling for function buttons on the left */
.info {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.leaflet-control-my-location {
  width:26px;
  height:26px;
  background-color: #fff;
}

.leaflet-control-my-location:hover {
  background-color: #f4f4f4;
}

/* styling for sidebar */
div.box {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;
  padding: 1em;
  width: 350px;
  height:550px;
  overflow:scroll;
}

.fa.close {
  color:grey;
}

.fa.close:hover {
  color:black;
}


/* MAIN PAGE
-------------------------------------------------- */
/* all stylings for components on main page */
.jumbotron {
  background-color:  rgb(50,57,147);
}

.page-header {
  color: #FFFFFF;
}

.small {
  color: #DDDDDD;
}

.circle {
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: #4679BD;
}

.statistics {
  display: inline-block;
}

.lost, .found, .total {
  text-align: center;
  display: inline-block;
  border: 0px solid white;
  width: 95px;
  height: 95px;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 300;
  margin: 20px 6px 6px 6px;
  background-color: rgba(255,255,255,0.7);
  
}

.timer-text {
  font-size: 40px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* CONTACT PAGE
-------------------------------------------------- */
/* stylings for contact page */
.contact {
  background-color: rgb(227,70,43);
  min-height: 600px;
}

.contact-content {
  margin-top: 150px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 50px;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}