<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">lxlf</h3>
</div>

<leaflet center="center" markers="markers" width="100%" height="400"></leaflet>

<div id="messagesDiv">
  <div ng-repeat="marker in markers"><em>{{marker.lat}}</em>: {{marker.lng}}</div>
</div>
<hr>
<input type="number" ng-model="lat" placeholder="Latitude">
<input type="number" ng-model="lng" ng-keydown="addMarker($event)" placeholder="Longitude">
<br />
<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
