<div class="row">
  	<div class="col-lg-12 fullsize">
    	<div class="jumbotron">
    		<div class="page-header">
          <h1>Welcome to <strong>lxlf</strong> <small>lisbon lost & found</small></h1>
        </div>
        <div class="row">
          <div class="statistics pull-right">
            <div class="found">
              <span class="timer-text">{{found}}</span><br>found <i class="fa fa-smile-o"></i>
            </div>
            <div class="lost">
              <span class="timer-text">{{lost}}</span><br>lost <i class="fa fa-frown-o"></i>
            </div>
            <div class="total">
              <span class="timer-text">{{happy}}</span><br>happy <i class="fa fa-child"></i>
            </div> 
          </div>
        </div>
    	</div>
    	<!-- Marketing messaging and featurettes
    	================================================== -->
    	<!-- Wrap the rest of the page in another container to center all the content. -->

    	<div class="container marketing">

      		<!-- START THE FEATURETTES -->
      		<div class="row featurette">
        		<div class="col-md-7">
          			<h2 class="featurette-heading">You have lost something you love? <span class="text-muted">Here you can find it!</span></h2>
          			<p class="lead">Imagine you have lost important things like your keys or wallet. You can go to the police or put up an announcment at a tree close to the place where you lost your stuff.
                Now it is getting easier! Visit the <a href="#/map"><i class="fa fa-globe"></i> map</a> and register you lost thing!</p>
        		</div>
        		<div class="col-md-5">
          			<img class="featurette-image img-responsive pull-right" src="../images/note.png" alt="Note image">
        		</div>
      		</div>

      		<hr class="featurette-divider">

      		<div class="row featurette">
        		<div class="col-md-5">
          			<img class="featurette-image img-responsive" src="../images/share.png" alt="Share image">
        		</div>
        		<div class="col-md-7">
          			<h2 class="featurette-heading">Trust the community! <span class="text-muted">Sharing is caring.</span></h2>
          			<p class="lead">Out there are a lot of honest people. If you find something on the street don´t feather your own nest because somewhere is an unhappy person. You can also register found things on the <a href="#/map"><i class="fa fa-globe"></i> map</a>.</p>
        		</div>
      		</div>

      		<hr class="featurette-divider">

      		<div class="row featurette">
        		<div class="col-md-7">
          			<h2 class="featurette-heading">You got your things back or passed back something. <span class="text-muted">Happy faces everywhere.</span></h2>
          			<p class="lead">You are a good person and made someone really happy.</p>
        		</div>
        		<div class="col-md-5">
          			<img class="featurette-image img-responsive" src="../images/smiley.png" alt="Happy image">
        		</div>
      		</div>
  		</div>
	</div>